# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd


# Ignore large log and build files
*.log
*.DS_Store
node_modules/
.env

# Ignore VSCode and IDE settings
.vscode/
.idea/

# Ignore virtual environment
companionai-backend/venv/

